body {
    margin: 0;
}

#index_container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 6fr;  
}

#sida2_container {
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

#sida3_container {
    height: 100vh;
    background-color: rgba(166, 184, 159, 0.795);
}

#index_nav {
    grid-column: 1 /span 2;
    grid-row: 1;
    background-color: #D9E2D5;
    display: flex;
    align-items: center;
    border-bottom: 3px solid darkgreen;
}

#sida2_nav {
    grid-column: 1 /span 5;
    grid-row: 1;
    background-color: #D9E2D5;
    display: flex;
    align-items: center;
    border-bottom: 3px solid darkgreen; 
}

#sida3_nav {
    grid-column: 1 /span 2;
    grid-row: 1;
    background-color: #D9E2D5;
    display: flex;
    align-items: center;
    border-bottom: 3px solid darkgreen;
}

#index_main {
    grid-column: 1;
    grid-row: 2;
}

.menu_container {
    margin: -2rem 21rem;
    color: white;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#index_article {
    grid-column: 2;
    grid-row: 2;
    padding: 5rem 2rem;
    color: rgb(1, 31, 1);
    background-color: rgba(166, 184, 159, 0.795);
}

.li_nav {
    padding-right: 12rem;
    text-align: center;
}


.li_sida2 {
    padding-right: 5rem;
    text-align: center;
    font-size: 1.3rem;
}

#sida3_div {
    margin: 4rem 26rem;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
    height: 3rem;
    width: 10rem;
}

.img1{
    grid-column: 1;
    grid-row: 2;
    height: 30.6rem;
    width: 59rem;
}

.img2 {
    height: 10rem;
    width: 20rem;
}

#img3 {
    height: 15rem;
    width: 27rem;
}

a{
    text-decoration: none;
    color: darkgreen;
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    padding-top: 3rem;
}